DATABASE_URL=postgresql://user:password@ep-xxxx.neon.tech/car_dealership?sslmode=require
TEST_DATABASE_URL=postgresql://user:password@ep-xxxx-test.neon.tech/car_dealership?sslmode=require
JWT_SECRET=replace-this
PORT=4000
